{% extends 'layouts/main.html.twig' %}

{% block content %}

<header>
	<div class="first">
    	{#<span class="languages">
    		{% for lang, label in languages %}
    			<a href="/{{ lang }}" {% if lang == language %} class="active" {% endif %}>{{ label }}</a>
    		{% endfor %}
    	</span>#}
		<div class="basket-icon"><i class="fas fa-shopping-cart"></i>(<span class="qty">0</span>)</div>
	</div>
	<div class="second switcher">
    	<div class="mobile-menu fa fa-bars"></div>
    	<nav>
    		{% for section in config.menu %}
        		<a href="#{{ section }}">{{ t( 'section_' ~ section ) }}</a>
        	{% endfor %}
    	</nav>
    	<div class="clear"></div>
    </div>
	<div class="basket">
		<div class="items">
		</div>
		<span class="total">{{ t( 'total' ) }}: <span class="amount"></span></span>
		<a class="btn" href="#order">{{ t( 'checkout' ) }}</a>
	</div>
</header>

<section data-section="home" class="home faded noalign">
	<span class="anchor" id="home"></span>
	<article>
		{% include 'sections/' ~ language ~ '.home.html.twig' %}
	</article>
</section>

{% for section in sections %}
	<section data-section="{{ section }}" class="{{ section }} faded">
		<span class="anchor" id="{{ section }}"></span>
		<article>
			{% include 'sections/' ~ language ~ '.' ~ section ~ '.html.twig' %}
		</article>
	</section>
{% endfor %}


<footer>
    {{ t( 'all_rights_reserved' ) }}
</footer>

{% endblock %}
