<html>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<head>
		<title>{{ messages[ 'mail_order' ] }}</title>
	</head>
	<body>
		<h2>
			{{ messages[ 'mail_order' ] }}
		</h2>
		<table width="100%" border="1">
		{% for key, value in data %}
			<tr>
				<th width="0" align="right">{{ messages[ 'mail_' ~ key ] }}</th>
				<td width="100%">
					{% if key == 'comments' %}<pre>{% endif %}{{ value }}{% if key == 'comments' %}</pre>{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<h3>
			{{ messages[ 'mail_products' ] }}
		</h3>
		<table width="100%" border="1">
			<tr>
				<th>Nosaukums</th>
				<th>Daudzums</th>
				<th>Cena</th>
				<th>Kopā</th>
			</tr>
			{% for product in products %}
				<tr>
					<td align="center">{{ product.title }}</td>
					<td align="center">{{ product.qty }}</td>
					<td align="center">{{ product.price }}</td>
					<td align="center">{{ product.price_total }}</td>
				</tr>
			{% endfor %}
			<tr>
				<th colspan="3" align="center">
					{{ messages[ 'mail_delivery' ] }}
				</td>
				<td align="center">
					{{ delivery_amount }}
				</td>
			</tr>
			<tr>
				<td></td>
				<th colspan="2">Kopā</th>
				<td align="center">{{ total_amount }}</td>
			</tr>
		</table>
	</body>
</html>